# Feature Engineering

## 1. Feature Construction

In [1]:
import pandas as pd

room_length = [18, 20, 10, 12, 18, 11]
room_breadth = [20, 20, 10, 11, 19, 10]
room_type = ['Big', 'Big', 'Normal', 'Normal', 'Big', 'Normal']

data = pd.DataFrame({
    'Length': room_length,
    'Breadth': room_breadth,
    'Type': room_type
})
print(data)

   Length  Breadth    Type
0      18       20     Big
1      20       20     Big
2      10       10  Normal
3      12       11  Normal
4      18       19     Big
5      11       10  Normal

In [3]:
data['Area']=data['Length']*data['Breadth']
print(data)

   Length  Breadth    Type  Area
0      18       20     Big   360
1      20       20     Big   400
2      10       10  Normal   100
3      12       11  Normal   132
4      18       19     Big   342
5      11       10  Normal   110

## 2. Feature Transformation

In [4]:
import pandas as pd
age = [18, 20, 23, 19, 18, 22, 21]
city = ['City A','City B','City B','City A',
        'City A', 'City C', 'City B']

data = pd.DataFrame({'age': age, 'city': city})
print(data)

   age    city
0   18  City A
1   20  City B
2   23  City B
3   19  City A
4   18  City A
5   22  City C
6   21  City B

In [5]:
dummy_features=pd.get_dummies(data['city'])
print(dummy_features)

   City A  City B  City C
0       1       0       0
1       0       1       0
2       0       1       0
3       1       0       0
4       1       0       0
5       0       0       1
6       0       1       0

In [8]:
data_age=pd.DataFrame(data,columns=['age'])
print(data_age)

   age
0   18
1   20
2   23
3   19
4   18
5   22
6   21

In [9]:
data_mod=pd.concat([data_age,dummy_features],axis=1)
print(data_mod)

   age  City A  City B  City C
0   18       1       0       0
1   20       0       1       0
2   23       0       1       0
3   19       1       0       0
4   18       1       0       0
5   22       0       0       1
6   21       0       1       0

In [10]:
#Another Method
data_mod1=pd.concat([data_age.reset_index(drop=True), dummy_features], axis=1)
print(data_mod1)

   age  City A  City B  City C
0   18       1       0       0
1   20       0       1       0
2   23       0       1       0
3   19       1       0       0
4   18       1       0       0
5   22       0       0       1
6   21       0       1       0

In [11]:
import pandas as pd
marks_science = [78, 56, 87, 91, 45, 62]
marks_maths = [75, 62, 90, 95, 42, 57]
grade = ['B', 'C', 'A', 'A', 'D', 'B']

data = pd.DataFrame({'Science marks': marks_science,
                     'Maths marks': marks_maths, 
                     'Total grade': grade})
print(data)

   Science marks  Maths marks Total grade
0             78           75           B
1             56           62           C
2             87           90           A
3             91           95           A
4             45           42           D
5             62           57           B

## 3. Feature Construction